students/irene/final-project/drone-point-cloud/bin/data/church-mesh.ply
students/irene/final-project/drone-point-cloud/bin/data/schoolblack.ply
students/irene/final-project/drone-point-cloud/bin/data/schoolcolor.ply
students/irene/final-project/images/church2.mp4

